@keyframes example {
  0%   {background-color:red; left:0px; bottom: 0;}
  25%  {background-color:yellow; left:200px; bottom:0px;}
  50%  {background-color:blue; left:200px; bottom:100px;}
  75%  {background-color:green; left:0px; bottom:100px;}
  100% {background-color:red; left:0px; bottom:0px;}
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  animation-name: example;
  animation-duration: 4s;
}
